!!!
%html
  %head
    %title Unit IO
    %link{:href => "//fonts.googleapis.com/css?family=Galdeano|Capriola", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "./assets/css/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "./assets/css/application.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.js", :type => "text/javascript"}
  %body
    #wrap
      #header
        %a{:href => "index.html"}
          %h1 We are Unit IO
        %h2
          Unit IO is a software and occasional gadget company.
          %br/
          We make useful products that solve our own problems and share the solutions with the rest of the world.
      %ul#nav
        %li#show_software.grid_4
          %h3
            Software
            %span &raquo;
          %p
            All our software is open source and built on open source technology.
        %li#show_gadgets.grid_4
          %h3
            Gadgets
            %span &raquo;
          %p Mostly prototypes. If there's enough love, we will put them into production.
        %li#show_team.grid_4
          %h3
            Team
            %span &raquo;
          %p Unit IO was founded in 2013 in Singapore.
        %li#show_contact.grid_4
          %h3
            Contact
            %span &raquo;
          %p Got something to say? Leave us a note.
      #main

      #footer
        %small Copyright &copy; 2013 Unit IO Pte. Ltd.
