*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {margin:0; padding:0}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal;}
strong {font-weight:bold;}
ul, li {list-style:none;}
em {font-style:italic;}
img {border:none;}
a {outline: none; text-decoration:none;}

body {padding-top:40px}

.note {width:100%;height:40px;background-color:#faf0d6;border-bottom:1px solid #f0e0b6;position:fixed;top:0px;left:0px}
.note p {font:16px georgia; font-style:italic; color:#927c42; padding-top:10px; text-align:center;}
.note a {color:#46360d; text-decoration:none; border-bottom:1px solid #AEA07D; padding-bottom:1px;}
.note a:hover {border-bottom:1px solid #46360d;}
